body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  height: 100vh;
}
.container {
  max-width: 450px;
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 36rem;
  top: 7rem;
  border: 1px solid #343a40;
}

#passwordResetForm {
  display: grid;
  grid-gap: 10px;
  margin-top: 20px;
}

#resetResponse {
  margin-top: 20px;
  text-align: center;
}

h2 {
  color: #343a40;
  text-align: center;
  font-weight: bold; /* Make h2 text bold */
}

label {
  color: black;
  font-weight: bold; /* Make label text bold */
}

.form-control {
  border-radius: 8px;
  border: 1px solid #343a40;
  font-weight: bold; /* Make form control text bold */
}

.btn-reset {
  background-color: #28a745;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  /* border: 2px solid #343a40; */
  font-weight: bold; /* Make button text bold */
}

.btn-reset:hover {
  background-color: #218838;
  color: #fff;
}

.lock-icon {
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 50%;
  padding: 15px;
  box-sizing: content-box;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #343a40;
}

.lock-icon img {
  width: 100%;
  height: 100%;
}
#sidebar-wrapper {
  color: white;
}

#response {
  margin-top: 30px;
  text-align: center;
}
.custom-text-white {
  color: white;
}
